.agreement {
  overflow: hidden;
  height: 80px;
  .icon-step();
  background-image: url("../img/third-gray.svg");
}

.agreement__notice {
  .font-style(@gray, 20px, 14px, 300);
  margin-top: 3px;
}

.agreement__list {
  list-style: none;
  margin-bottom: 17px;
}

.agreement__item {
  padding-left: 11px;
  margin-bottom: 8px;
  position: relative;

  &::before {
    content: "";
    width: 2px;
    height: 2px;
    position: absolute;
    top: 11px;
    left: 1px;
    border-radius: 50%;
    border: 2px solid @gray;
  }
}

.agreement--block {
  padding-top: 12px;
  padding-left: 45px;
  padding-bottom: 16px;
  background-color: @light-gray;
  margin-bottom: 16px;
  position: relative;
  border: 2px solid @light-gray;
  border-radius: 4px;

  &::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 16px;
    left: 16px;
    border-radius: 1px;
    border: 2px solid @gray;
  }
}

.agreement__input {
  left: 30px;
  top: 37px;

  &:checked ~ .agreement--block::before {
    content: "";
    border: none;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 14px;
    left: 14px;
    background-image: url("../img/checkbox-on.svg");
  }

  &:checked ~ .agreement--block {
    background-color: @white;
    border: 2px solid @blue;
    border-radius: 4px;
  }
}

.agreement--flex {
  display: flex;
}

.agreement__text {
  margin: 0;
  width: 340px;
  margin-bottom: 8px;
}

.agreement__warn {
  background-color: @yellow;
  border-color: @yellow;
  padding-left: 50px;
  position: relative;

  &::before {
    content: "";
    border: none;
  }

  svg {
    position: absolute;
    top: 14px;
    left: 14px;
  }
}

.agreement__email {
  margin-bottom: 8px;
  position: relative;
}

.agreement__wrap {
  display: none;
  flex-direction: column;
}

.agreement__all {
  position: relative;
}
