root: true

parserOptions:
  ecmaVersion: 2018
  sourceType: 'module'

env:
  es2017: true
  browser: true
  jquery: true

extends: "airbnb-base/legacy"
rules: {
  no-unused-expressions: off,
  no-param-reassign: off,
  func-names: off,
  no-use-before-define: off
}
