parserOptions:
    ecmaVersion: 2015
    sourceType: 'module'
env:
  es6: true
  browser: true
  commonjs: true
  jquery: true

extends: "airbnb-base/legacy"
rules: {
  no-unused-expressions: off,
  no-param-reassign: off,
  func-names: off,
  no-use-before-define: off
}
