.font-style(@color: #3B4256, @line-height: 24px, @font-size: 18px, @font-weight: 400) {
  color: @color;
  font-family: "Arial", sans-serif;
  line-height: @line-height;
  font-size: @font-size;
  font-weight: @font-weight;
}
