.font-style(@color: @gray, @line-height: 24px, @font-size: 18px, @font-weight: 400) {
  color: @color;
  font-family: "Arial Rounded MT Bold", sans-serif;
  line-height: @line-height;
  font-size: @font-size;
  font-weight: @font-weight;
}

.icon-step() {
  background-image: url("../img/agree-icon.svg");
  background-repeat: no-repeat;
  background-position: 16px 16px;
}
